/* https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior */
:root {
  /* --main-bg-color: brown; */
  --pad: .3em;
}
body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  background-color: dimgray;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

#context-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 12px;
  /* margin-left: 42px; */
}
#context-title {
  display: flex;
  padding: 4px;
  font-size: 1.1em;
  align-items: center;
  /* flex: 0 1; */
  /* flex-grow: 1; */
  /* width:100%; */
  justify-content: space-between;
}
#context-select {
  display: flex;
  text-align: center;
  font-size: .8em;
  align-items: center;
}
#context-select label {
  display: flex;
  flex-direction: row;
  padding: 4px;
  min-width: 120px;
  align-items: center;
  /* https://stackoverflow.com/questions/6483425/prevent-iphone-from-zooming-in-on-select-in-web-app/13468469#13468469*/
}
#context-select select {
  /* display: flex; */
  /* flex-direction: column; */
  border-radius: .3em;
  margin-left: 8px;
  margin-right: 8px;
  padding: 4px;
  width: 100px;
  border: 1px solid #aaa;
  background-color: dimgray;
  font-size: 16px; /* https://stackoverflow.com/questions/6483425/prevent-iphone-from-zooming-in-on-select-in-web-app/13468469#13468469*/
}
#context-select select:focus {
  outline: none;
}
#context-select #todaysDate {
  /* background-color: aqua; */
  margin-left: 8px;
  margin-right: 8px;
}
#context-footer {
  padding: 12px;
  padding-top: 4px;
}
.svg-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
#yAxis line {
  stroke-width: 2px;
  stroke: black;
}
.xAxis {
  stroke-width: 1px;
  stroke: black;
}

.labels.x-labels {
  text-anchor: end;
}
.labels.y-labels {
  text-anchor: end;
}
.graph {
  position: relative;
  /* height: 500px; */
  /* width: 800px; */
}
.bar-labels text {
  text-anchor: middle;
}
.graph .grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
}
.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: black;
  text-anchor: middle;
}

.data {
  fill: red;
  stroke-width: 1;
}
/* TODO = change this to breakpoints instead */
@media screen and (orientation: landscape) {
  #context-wrapper {
    padding: 4px;
    /* margin-left: 42px; */
  }
  #context-title {
    background-color: aqua;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  #context-select {
    font-size: .6em;
    padding-top: 2px;
    padding-bottom: 0px;
  }
  #context-select select {
    padding: 2px;
  }
}
@media screen and (orientation: portrait) {
  #context-title {
    background-color: blue;
    font-size: .9em;
  }
  #context-select {
    font-size: .6em;
  }
}
@media (hover: none) { 
  /* custom css for devices where the primary input mechanism cannot hover at all or cannot conveniently hover; 
  https://stackoverflow.com/questions/12469875/how-to-code-css-media-queries-targeting-all-mobile-devices-and-tablets/42835826#42835826 */
  body {
    /* background-color: green; */
  }
}